[Desktop Entry]
Name=TODO
Type=Application
StartupNotify=true
SingleMainWindow=true
Icon=path/data/icon.png
Exec=path/cmake-build-release/TODO
Path=path/cmake-build-release/
