[Desktop Entry]
Type=Application
Name=TODO
Icon=/home/mrspaar/Projects/TODO/data/icon.png
Exec=/home/mrspaar/Projects/TODO/cmake-build-release/TODO
Terminal=false
Path=/home/mrspaar/Projects/TODO/cmake-build-release/
